@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");

* {
  background-color: transparent;
  margin: 0;
  font-family: "zilla slab";
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px black;
  margin-left: 2%;
  /* margin-right: 2%; */
  padding-top: 1%;
  text-decoration: none;

}

.header h1 a{
  text-decoration: none;
  color: black;

}

h1 {
  font-size: 300%;
  letter-spacing: 1rem;

}

h2 {
  font-size: 400%;
}

.model-3-img {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/e90a341e-f9ca-4aa1-8eab-94afea118786/bvlatuR/std/2880x1800/M3-Homepage-D");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  justify-content: center;
  letter-spacing: 0.1rem;
}

.title p {
  font-size: 1.75rem;
}

.order-buttons{
  display: flex;
  justify-content: center;
  padding-top: 65vh;
}

.model-y-img {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
}

.model-s-img {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/676da95d-942e-414c-8534-f1832f0d4ced/bvlatuR/std/3296x1798/ms-homepage-desktop");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
}

.model-x-img {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/325743a2-d187-4e28-91a3-5a2e47e317f7/bvlatuR/std/2880x1800/ModelX-Homepage-D");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
}

.solar-panels-img {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/16b04537-a4be-4bf9-8637-86862a858da8/bvlatuR/std/2880x1800/_25-HP-SolarPanels-D");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
}

.solar-panels-order-buttons{
  display: flex;
  justify-content: center;
  padding-top: 67vh;
}

.solar-roof-img {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/c877126e-0db5-409d-a412-04fc94b59b76/bvlatuR/std/2880x1800/HP-SR-Design-D");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.solar-roof-order-buttons{
  display: flex;
  justify-content: center;
  padding-top: 67vh;
}

.accessories-img {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/2880x2400/Desktop-Accessories");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 91vh;
}

.accessories-buttons{
  display: flex;
  justify-content: center;
  padding-top: 67vh;
}
