@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");

* {
  background-color: transparent;
  margin: 0;
  font-family: "zilla slab";
  box-sizing: border-box;
  padding: 0;
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
}

.header img{
  width: 7%;
  height: 77%;
  cursor: pointer;
  margin-left: 50px;
}

header{
  position: fixed;
  width: 100%;
}

.nav__links{
  list-style: none;
}

.nav__links li{
  display: inline-block;
  padding: 0px 25px;
}

.nav__links li a, .nav__buttons li{
  font-weight: bold;
  font-size: 1.75rem;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
  /* color: blue */
  padding: 0 5px;
  border-radius: 25px;
  background-color: #ced3d3;
}

header a button{
  font-weight: bold;
  font-size: 1.75rem;
  /* padding: 9px 25px; */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  /* background-color: rgba(0, 139,169,1); */
}

button:hover{
  /* color: blue;
  background-color: rgba(0, 139,169,.8); */
}

.nav__buttons{
  list-style: none;
}

.nav__buttons li{
  display: inline-block;
  padding: 0px 25px;
}

.nav__buttons li a:hover{
  padding: 0 5px;
  border-radius: 25px;
  background-color: #ced3d3;
}

h2 {
  font-size: 400%;
}

a{
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}

.model-3-img {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/e90a341e-f9ca-4aa1-8eab-94afea118786/bvlatuR/std/2880x1800/M3-Homepage-D");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 8%;
  justify-content: center;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.title p {
  padding-top: .5%;
  font-size: 1.55rem;
}

.order-buttons{
  display: flex;
  justify-content: center;
  padding-top: 57vh;
  
}

.order-buttons a{
  display: inline-block;
  align-items: center;
  padding: 0px 25px;
}

.order-buttons button{
  display: inline-block;
  align-items: center;
  padding: 10px 80px;
  font-weight: 400;
  font-size: 1.75rem;
  border-radius: 25px;
 
}

.button2{
  background-color: #f9f4f5;
  color: black;
  border: none;
}

.button1{
  background-color: #383d3b;
  color: white;

}

.model-y-img {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
}

.model-s-img {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/32e5e0f3-5c04-42ef-8f8f-c6b1c26f8a9e/bvlatuR/std/2880x1800/ms-main-hero-desktop");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
  width: 100%;
}

.model-x-img {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/325743a2-d187-4e28-91a3-5a2e47e317f7/bvlatuR/std/2880x1800/ModelX-Homepage-D");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
}

.solar-panels-img {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/16b04537-a4be-4bf9-8637-86862a858da8/bvlatuR/std/2880x1800/_25-HP-SolarPanels-D");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
}

.solar-panels-order-buttons{
  display: flex;
  justify-content: center;
  padding-top: 67vh;
}

.solar-roof-img {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/c877126e-0db5-409d-a412-04fc94b59b76/bvlatuR/std/2880x1800/HP-SR-Design-D");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.solar-roof-order-buttons{
  display: flex;
  justify-content: center;
  padding-top: 67vh;
}

.accessories-img {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/2880x2400/Desktop-Accessories");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
}

.accessories-buttons{
  display: flex;
  justify-content: center;
  padding-top: 67vh;
}

footer {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}

.footer li{
  display: inline-block;
  padding: 0px 25px;
  font-weight: 500;
  font-size: 1.5rem;
}
