.model-s-interior-img {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/c0c475f7-2856-46e1-87ab-dd67ec8dd43f/bvlatuR/std/2880x1800/MS-Interior-Hero-Desktop");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    height: 100vh;
  }